[Unit]
Description=Fritz to InfluxDB daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
WorkingDirectory=/opt/fritzinfluxdb
ExecStart=/opt/fritzinfluxdb/.venv/bin/python /opt/fritzinfluxdb/fritzinfluxdb.py -d
StandardOutput=journal
StandardError=journal
SyslogIdentifier=fritzinfluxdb
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
