[Unit]
Description=Fritz to InfluxDB daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
WorkingDirectory=/opt/fritzinfluxdb
ExecStart=/opt/fritzinfluxdb/.venv/bin/python /opt/fritzinfluxdb/fritzinfluxdb.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fritzinfluxdb
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
